**handling non values or "?" i.e missing data**
1. dropping the row or column where they exist - risk missing out on important data though. Can do so though is there are too many missing values in that row or column
2. replacing missing values - better option. but if the number is not known, the mean, median or 0 can be used depending on the data.

Outliers- could come from wrong data collection. Can skew the mean, so you can use median instead. in unskewed data, they should be similar.

In [ ]:
#replace '?' with NaN

data.replace("?", np.nan, inplace=True)

DATA TYPES IN DATAFRAMES
1. float - continous
2. int - discrete
3. object - string
4. categorical - data belonging to one category eg gender

In [2]:
#Checking for unique categories

#data["column-name"].unique() ---- shows the nmber of unique data in the column

#data["column-name"].value_counts() ----------number of each sample in each category

**EXPORTING THE DATA**

In [ ]:
data.to_csv("CarData.csv, index=False")#index = false makes sure the data isnts saved with the index because next time you load it, the index will be a new column

In [7]:
# import libraries
import pandas as pd   # data preprocessing
pd.set_option('display.max_columns', None) # to display all columns
import matplotlib.pyplot as plt  # data visualization
import seaborn as sns  # data visualization

import warnings
warnings.filterwarnings('ignore') # would not show unnecessary warning messages

# you are free to make more imports
import numpy as ny

In [8]:
policeShootings = pd.read_csv("Downloads/archive/shootings.csv")
policeShootings.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,Asian,Shelton,WA,True,attack,Not fleeing,False,Guns
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,White,Aloha,OR,False,attack,Not fleeing,False,Guns
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,Hispanic,Wichita,KS,False,other,Not fleeing,False,Unarmed
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,White,San Francisco,CA,True,attack,Not fleeing,False,Other unusual objects
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,Hispanic,Evans,CO,False,attack,Not fleeing,False,Piercing objects

In [10]:
policeShootings.shape

(4895, 15)

In [11]:
# write a print statement that shows the shape of the data. You could use f-string or .format()
# then display the first 12 rows, still in this cell

print(f"The shape of the data on police shooting is {policeShootings.shape}")

The shape of the data on police shooting is (4895, 15)

In [12]:
policeShootings.head(12)

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,Asian,Shelton,WA,True,attack,Not fleeing,False,Guns
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,White,Aloha,OR,False,attack,Not fleeing,False,Guns
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,Hispanic,Wichita,KS,False,other,Not fleeing,False,Unarmed
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,White,San Francisco,CA,True,attack,Not fleeing,False,Other unusual objects
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,Hispanic,Evans,CO,False,attack,Not fleeing,False,Piercing objects
5,11,Kenneth Joe Brown,2015-01-04,shot,gun,18.0,M,White,Guthrie,OK,False,attack,Not fleeing,False,Guns
6,13,Kenneth Arnold Buck,2015-01-05,shot,gun,22.0,M,Hispanic,Chandler,AZ,False,attack,Car,False,Guns
7,15,Brock Nichols,2015-01-06,shot,gun,35.0,M,White,Assaria,KS,False,attack,Not fleeing,False,Guns
8,16,Autumn Steele,2015-01-06,shot,unarmed,34.0,F,White,Burlington,IA,False,other,Not fleeing,True,Unarmed
9,17,Leslie Sapp III,2015-01-06,shot,toy weapon,47.0,M,Black,Knoxville,PA,False,attack,Not fleeing,False,Other unusual objects
10,19,Patrick Wetter,2015-01-06,shot and Tasered,knife,25.0,M,White,Stockton,CA,False,attack,Not fleeing,False,Sharp objects
11,21,Ron Sneed,2015-01-07,shot,gun,31.0,M,Black,Freeport,TX,False,attack,Not fleeing,False,Guns

In [ ]:
# below this code line, write a markdown that describes the data you've just loaded

The above is the on police shootings in the US. It was complied based on names of people shot by the police, the date of occurance, their race, if they were armed or not

In [13]:
# check the info of the dataframe
policeShootings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4895 entries, 0 to 4894
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       4895 non-null   int64
 1   name                     4895 non-null   object
 2   date                     4895 non-null   object
 3   manner_of_death          4895 non-null   object
 4   armed                    4895 non-null   object
 5   age                      4895 non-null   float64
 6   gender                   4895 non-null   object
 7   race                     4895 non-null   object
 8   city                     4895 non-null   object
 9   state                    4895 non-null   object
 10  signs_of_mental_illness  4895 non-null   bool
 11  threat_level             4895 non-null   object
 12  flee                     4895 non-null   object
 13  body_camera              4895 non-null   bool
 14  arms_category            4895 non-null   object
dtypes: bool(2), float64(1), int64(1), object(11)
memory usage: 506.8+ KB

In [18]:
# check how many null values exists in the data
#policeShootings[policeShootings.eq("null").any(1)]
policeShootings.isnull().sum()

id                         0
name                       0
date                       0
manner_of_death            0
armed                      0
age                        0
gender                     0
race                       0
city                       0
state                      0
signs_of_mental_illness    0
threat_level               0
flee                       0
body_camera                0
arms_category              0
dtype: int64

In [ ]:
# if there are null values suggest ways to fill it, otherwise, proceed.

In [23]:
# check the statistical distribution of the data
policeShootings.describe(include="all")

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category
count,4895.000000,4895,4895,4895,4895,4895.000000,4895,4895,4895,4895,4895,4895,4895,4895,4895
unique,NaN,4851,1792,2,89,NaN,2,6,2288,51,2,3,4,2,12
top,NaN,TK TK,2018-04-01,shot,gun,NaN,M,White,Los Angeles,CA,False,attack,Not fleeing,False,Guns
freq,NaN,29,9,4647,2755,NaN,4673,2476,78,701,3792,3160,3073,4317,2764
mean,2902.148519,NaN,NaN,NaN,NaN,36.549750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1683.467910,NaN,NaN,NaN,NaN,12.694348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,3.000000,NaN,NaN,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1441.500000,NaN,NaN,NaN,NaN,27.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2847.000000,NaN,NaN,NaN,NaN,35.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,4352.500000,NaN,NaN,NaN,NaN,45.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,5925.000000,NaN,NaN,NaN,NaN,91.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# we may want to extract information based on the years police shooting ocurred most
# but the date column is of the format year-month-day. So, split the column using "-", and drop the
# month and day column, while keeping the year along side the rest of the other column.
# the year column should bear *year*

In [3]:
# check the shape of the data again to ensure it is still the same as it were previoulsy.

In [1]:
# convert the year column to datetime using:
# policeShootings["year"] = pd.to_datetime(policeShootings["year"])

In [2]:
# Now check the datatype of your columns: policeShootings.dtypes
# print the first 3 rows

In [12]:
# check the number of values in each class in the 'year' column
# in this code cell drop any other columns you think may be irrelevant
# Is your data ready, if not you are free to do any other thing before visualizing

1.5

In [ ]:
# When you are done with the data preprocessing, export your data as a csv to your drive. 
# Remember to set index to false.
# reload your exported data and extract the last 3000 samples. 
# This is what you will be using for the rest of your analysis

In [ ]:
# rearrane the columns by reindex()function

**Data Visualization**

Here, set your mind open to asking important questions which your data should be able to answer.

For example what year were killings done the most, what gender are shot the most, what races are shot the most, etc...

For every question you ask, plot a chart that will answer it, and write a markdown to state your findings from the plot.