# SQL

Structured Query Language is a language used to query, manipulate data from database.

Database is collection of tremendous amount of related data or tables coming together to form an entity

Relatational database-

Relational key- 

Primary key - is a column or set of columns whose values uniquely identify a row in the table. A relational database is designed to enforce the uniqueness of primary keys by allowing only one row with a given key value in a table. It coud be an integer used as the unique ID

Foreign Key- values correspond to the values of the primary key in another table. In order to add a row witha given foreign key value, there must exist a row in the related table  with the same primary key value.

## SERVERS

data mgt systems.
are of various types like IDES, local and online based. including jupyter notebook

In [1]:
pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Requirement already satisfied: six in c:\users\pinck\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Collecting sqlparse
  Downloading sqlparse-0.4.1-py3-none-any.whl (42 kB)
Collecting prettytable<1
  Downloading prettytable-0.7.2.tar.bz2 (21 kB)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\pinck\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in c:\users\pinck\anaconda3\lib\site-packages (from ipython-sql) (7.19.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\pinck\anaconda3\lib\site-packages (from ipython-sql) (1.3.20)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\pinck\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pickleshare in c:\users\pinck\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in c:\users\pinck\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\pinck\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (50.3.1.post20201107)
Requirement already satisfied: jedi>=0.10 in c:\users\pinck\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.1)
Requirement already satisfied: backcall in c:\users\pinck\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\pinck\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.8)
Requirement already satisfied: traitlets>=4.2 in c:\users\pinck\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: pygments in c:\users\pinck\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.7.2)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\pinck\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\pinck\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13705 sha256=a9461f68b339edf06d4f90153a33118786761dbe0f2671097836ff3203c8801b
  Stored in directory: c:\users\pinck\appdata\local\pip\cache\wheels\46\60\6c\bb25d05df22906786206e901e9354bb3061061191116768bee
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.4.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
import sqlalchemy

In [9]:
sqlalchemy.create_engine('mssql+pyodbc://:tiger@mydsn')

Engine(mssql+pyodbc://:***@mydsn)

In [10]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [11]:
%sql sqlite://

In [15]:
#Creating a Table
# varchar means variable xter i.e text, number in bracket is the limit of xters
%sql CREATE TABLE EMPLOYEE(firstname varchar(50), lastname varchar(50));
INSERT INTO EMPLOYEE VALUES('Aisha', 'Mohammed');
INSERT INTO EMPLOYEE VALUES('Hadiza', 'Rabiu');

SyntaxError: invalid syntax (<ipython-input-15-09a280123b72>, line 4)

In [ ]:
#Using Tables

#How to get a column from database
SELECT column
FROM table

eg
SELECT continent
FROM countries

#2 or more columns
SELECT column1, column2, column3 etc
FROM tablename

In [ ]:
#how to get more specific details

SELECT column1, column2, column3 etc
FROM tablename
WHERE column1 = 'Value'

eg
SELECT continent, location, population
FROM countries
WHERE location = 'Afghanistan'
or
WHERE population < 300000000
or 
WHERE location != 'Afghanistan'

#getting all columns  uses astesk
SELECT *
FROM countries
#if condition needed
WHERE location = 'Afghanistan' AND continent = 'Asia' AND median age>25
# can also use OR as in booleans

In [1]:
#Filtering and sorting data

SELECT DISTINCT location  #gives unique values as some locations may be replicated in the data set
FROM countries

SELECT location
FROM countries
WHERE NOT location = 'Afghanistan' # NOT is same as !=

ORDER BY continent  # reorders the continent data alphabetically
LIMIT 10   # Shows first 10 rows


SELECT *
FROM orders
ORDER BY account_id, total_amt_usd DESC # sorts it based on largest amounts per account/user
LIMIT 20

SELECT *
FROM orders
ORDER BY total_amt_usd DESC, account_id # sorts it based on largest amounts ever, then if 2 or more users spents same amt, it then sorts the account too
LIMIT 20

SyntaxError: invalid syntax (<ipython-input-1-4b6fd0f92493>, line 3)

In [ ]:
#changing data

UPDATE countries
SET location = 'Denmark'
WHERE iso_code = 'ALB'


SELECT COUNT(iso_code)
FROM countries
#for conditions if needed
WHERE continent = 'Asia'


SELECT sum(population)
FROM  countries
WHERE continent = 'Asia'

SELECT avg(population)
FROM  countries
WHERE continent = 'Asia'

### SUBQUERY
a query inside a query is a subquery.

SELECT location, population, continent
FROM countries
WHERE 
    population > (SELECT avg(population)  # this is the subquery. not doing it this way brings an error
        FROM countries)
    
    
    this can also be done for max, min.

#### renaming or giving a columnn an alias

SELECT location LOC, population POP, continent CON 
FROM countries

In [ ]:
#### joining columns

SELECT location, population, total_cases
FROM countries C                  # renames the table to C
JOIN cases ca                #renames the table to ca
ON countries.iso_code = cases.iso_code       # joins on the isocode that comes with countries and isocode in cases. This is what they have in common and are joined on.
GROUP BY location   # compresses multiple places with same name into one
ORDER BY population   # ascending order
ORDER BY population DESC # descending order

SELECT c.location, c.population, ca.total_cases, d.total_deaths
FROM countries c
JOIN cases ca
ON c.iso_code = ca.iso_code
JOIN deaths d
ON d.iso_code = c.iso_code #choose any of the already joined tables